In [77]:
# Import Libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import re
import nltk

from gensim.models import keyedvectors

In [78]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Owner\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [79]:
data = pd.read_csv('topics.csv', encoding="ISO-8859-1")
data.head(5)

,title,content,content_word_count,published_date,created_at,updated_at,language,article_links,total_share_count,keywords_status,...,webinar,interview,quote,meme,give_away,quiz,cities_and_states,countries,geo_locations,topic
0,Mitsubishi Motors Co. (OTCMKTS:MMTOF) Short In...,29c9689e5ed81852967ff964f16be109a37dd9ecb1f5c9...,221.0,2023-04-19 7:26,2023-04-19 7:37,2023-04-19 7:37,en,['https://www.marketbeat.com/stocks/OTCMKTS/MM...,0.0,True,...,False,False,False,False,False,False,NaN,NaN,NaN,business
1,Juventus off the hook! Bianconeri set to have ...,b9e3313535ffdbc2fe198572f17ce61330980dfab64324...,225.0,2023-04-19 6:23,2023-04-19 6:44,2023-04-19 7:49,en,['https://www.gazzetta.it/Calcio/Serie-A/Juven...,0.0,True,...,False,False,False,False,False,False,NaN,NaN,NaN,sports
2,Dodgers ponder shortstop for Betts after pater...,2e7bdbd8a033973c2309948b0b1b9de02bf7491e7b464c...,389.0,2023-04-18 0:00,2023-04-19 6:39,2023-04-19 6:39,en,NaN,0.0,True,...,False,False,False,False,False,False,NaN,NaN,NaN,sports
3,"Meta lays off tech teams, battering employee m...",d4e3c5c938a4c636d40cac488f32cda1cdc02c6372a5f9...,379.0,2023-04-19 5:27,2023-04-19 6:04,2023-04-19 7:00,en,"['/', '/news/most-popular-news', '/news/econom...",1.0,True,...,False,False,False,False,False,False,NaN,NaN,NaN,technology
4,FDA clears extra COVID booster for some high-r...,cfd7f633608c252af099ccb7f4a5a02eed9e7c68efe6fb...,856.0,2023-04-18 2:25,2023-04-19 11:01,2023-04-19 11:01,en,"['https://abcnews.go.com/alerts/Vaccinations',...",0.0,True,...,False,False,False,False,False,False,['washington'],['united kingdom'],"[{'country': 'GB', 'coordinates': [-1.51667, 5...",health

In [80]:
# shape of the data
data.shape

(10001, 30)

In [81]:
data.describe()

       content_word_count  total_share_count    sentiment  title_sentiment
count        10000.000000        9999.000000  9984.000000      5107.000000
mean           515.306900         277.081008    16.694111         0.281183
std            804.974659        4983.928745    42.877577         2.913501
min              5.000000           0.000000  -309.000000       -14.000000
25%            197.000000           0.000000    -2.000000        -2.000000
50%            378.000000           0.000000    11.000000         1.000000
75%            661.000000           2.000000    32.000000         2.000000
max          57135.000000      313687.000000   629.000000        17.000000

In [82]:
data.dtypes

title                  object
content                object
content_word_count    float64
published_date         object
created_at             object
updated_at             object
language               object
article_links          object
total_share_count     float64
keywords_status        object
keywords               object
entities               object
sentiment             float64
title_sentiment       float64
keywords_ex            object
infographic            object
case_study             object
review                 object
video                  object
podcast                object
webinar                object
interview              object
quote                  object
meme                   object
give_away              object
quiz                   object
cities_and_states      object
countries              object
geo_locations          object
topic                  object
dtype: object

In [83]:
data.isnull().sum()

title                    1
content                  1
content_word_count       1
published_date           1
created_at               1
updated_at               1
language                 1
article_links         2897
total_share_count        2
keywords_status         22
keywords                22
entities                22
sentiment               17
title_sentiment       4894
keywords_ex             17
infographic              3
case_study               3
review                   3
video                    3
podcast                  3
webinar                  3
interview                3
quote                    3
meme                     3
give_away                3
quiz                     3
cities_and_states     6662
countries             6662
geo_locations         6662
topic                    0
dtype: int64

There aer almost objects in dataset which need to label encoding in ipcoming steps.

In [84]:
# remove unwanted columns
drop_clm = ['content', 'article_links', 'geo_locations', 'title_sentiment']
data = data.drop(columns= drop_clm)
data.shape

(10001, 26)